In this file you will see an attempt and exploration of the two models: Linear and random forest . 
    we first opted for going for default settings for splts and using all the variables. 
    please scroll down for results.

In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
# Load the data
file_path = Path('happiness_joined.csv')
happiness_joined_df = pd.read_csv(file_path,encoding="ISO-8859-1")#,index_col=0)
# happiness_joined_df = df.loc[:, columns].copy()

# df.reset_index(inplace=True, drop=True)

happiness_joined_df.head()

,country_code,country_name,life_ladder,democracy_index,consumer_price_index,gender_ratio_males_per100_female,infant_mortality_per1000_births,life_expectancy,per_capita_gdp_dollars,population_density,safe_drinking_water_access_pct,seats_held_by_women_pct,unemployment_rate
0,8,Albania,4.995,58.9,119.1,103.7,8.0,78.4,5303,105.1,70.7,29.3,12.8
1,12,Algeria,4.745,40.1,151.4,102.1,21.2,76.6,3976,18.1,72.4,25.8,11.5
2,51,Armenia,5.488,55.4,129.2,88.8,10.8,74.9,4623,103.9,86.9,24.2,16.6
3,40,Austria,7.195,82.9,118.1,97.0,3.2,81.4,49701,108.7,98.9,37.2,4.8
4,31,Azerbaijan,5.173,27.5,156.9,99.7,20.8,72.8,4782,121.6,88.3,16.8,6.0

In [3]:
happiness_joined_df[['country_code','democracy_index','consumer_price_index','gender_ratio_males_per100_female','infant_mortality_per1000_births','life_expectancy','per_capita_gdp_dollars','population_density','safe_drinking_water_access_pct','seats_held_by_women_pct','unemployment_rate']] = happiness_joined_df[['country_code','democracy_index','consumer_price_index','gender_ratio_males_per100_female','infant_mortality_per1000_births','life_expectancy','per_capita_gdp_dollars','population_density','safe_drinking_water_access_pct','seats_held_by_women_pct','unemployment_rate']].replace({'\$': '', ',': ''}, regex=True).astype(float)
#
happiness_joined_df.head()
# # REF: https://pbpython.com/currency-cleanup.html

,country_code,country_name,life_ladder,democracy_index,consumer_price_index,gender_ratio_males_per100_female,infant_mortality_per1000_births,life_expectancy,per_capita_gdp_dollars,population_density,safe_drinking_water_access_pct,seats_held_by_women_pct,unemployment_rate
0,8.0,Albania,4.995,58.9,119.1,103.7,8.0,78.4,5303.0,105.1,70.7,29.3,12.8
1,12.0,Algeria,4.745,40.1,151.4,102.1,21.2,76.6,3976.0,18.1,72.4,25.8,11.5
2,51.0,Armenia,5.488,55.4,129.2,88.8,10.8,74.9,4623.0,103.9,86.9,24.2,16.6
3,40.0,Austria,7.195,82.9,118.1,97.0,3.2,81.4,49701.0,108.7,98.9,37.2,4.8
4,31.0,Azerbaijan,5.173,27.5,156.9,99.7,20.8,72.8,4782.0,121.6,88.3,16.8,6.0

## Splitting the Dataset into the Independent Feature Matrix:

In [4]:
print(happiness_joined_df.shape)

(91, 13)

## Modeling--Random Forest Regressor

1st to 2nd week of models' exploration and attempts using 75/25 splits and all the 10 x-variables.

In [5]:
# select features 
#X = happiness_joined_df[['democracy_index','consumer_price_index','gender_ratio_males_per100_female','infant_mortality_per1000_births','life_expectancy','per_capita_gdp_dollars','population_density','safe_drinking_water_access_pct','seats_held_by_women_pct','unemployment_rate']]
#y = happiness_joined_df["life_ladder"]
# ref: https://www.pluralsight.com/guides/importing-and-splitting-data-into-dependent-and-independent-features-for-ml
# ref: https://towardsdatascience.com/multiple-regression-as-a-machine-learning-algorithm-a98a6b9f307b


target = "life_ladder"
features = happiness_joined_df.columns.drop([target,"country_code","country_name"])#,"gender_ratio_males_per100_female","unemployment_rate"])
X = happiness_joined_df[features]
y = happiness_joined_df[target]

In [6]:
# Normal train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
# Resample the training data with the BalancedRandomForestRegression

from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(n_estimators=100, random_state=78) 

# instantiate model
model = RandomForestRegressor()
# ref: https://machinelearningmastery.com/random-forest-ensemble-in-python/
# fit model
model.fit(X, y)

# fit
model.fit(X_train, y_train)
# predict
y_pred = model.predict(X_test)

In [8]:
from sklearn.preprocessing import StandardScaler
# 3) Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# 4) Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [10]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.13345339, 0.012872  , 0.03044857, 0.04596921, 0.06993442,
       0.56173622, 0.0217716 , 0.07777512, 0.03008983, 0.01594963])

In [11]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
# i have something wrong with the shape stuff 

# 68/91= 75/split

(68, 10)
(23, 10)
(68,)
(23,)

In [12]:
# Use get_dummies() to create variables for text features.
# YOUR CODE HERE
# X = happiness_joined_df.copy()
# X = pd.get_dummies(X, columns = ["Algorithm", "ProofType"])
# X
y

0     4.995
1     4.745
2     5.488
3     7.195
4     5.173
      ...
86    4.948
87    4.702
88    7.157
89    6.944
90    6.154
Name: life_ladder, Length: 91, dtype: float64

In [13]:
print(np.mean(X_train_scaled[:,0]))
print(np.mean(X_test_scaled[:,0]))
print(np.std(X_train_scaled[:,0]))
print(np.std(X_test_scaled[:,0]))

4.195989960715665e-16
-0.3231427339702866
1.0
0.9622616262978819

In [14]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
# drop two columns that has r value lesser to improve the r value ---> not good deciion, lesser R^2 val
# life ladder y-dependent value change to life expectancy and see. ---> R^2 value increased to 0.854!!!
# marc

[(0.5617362226738501, 'per_capita_gdp_dollars'),
 (0.13345339305532836, 'democracy_index'),
 (0.07777511834082675, 'safe_drinking_water_access_pct'),
 (0.06993442338309663, 'life_expectancy'),
 (0.04596921031861803, 'infant_mortality_per1000_births'),
 (0.03044857044347941, 'gender_ratio_males_per100_female'),
 (0.03008982898122119, 'seats_held_by_women_pct'),
 (0.021771601391520935, 'population_density'),
 (0.015949634590708407, 'unemployment_rate'),
 (0.012871996821350306, 'consumer_price_index')]

In [15]:
# model evaluation
# ref: https://towardsdatascience.com/multiple-regression-as-a-machine-learning-algorithm-a98a6b9f307b
from sklearn.metrics import r2_score, mean_squared_error
score = r2_score(y_test, y_pred)
print("R2score:", score)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print('root mean squared error: ', rmse)
# these R^2 value and rmse score!!!!
#get more data
# get more data
# get more models

R2score: 0.37548906479987265
root mean squared error:  0.7388820940183

In [16]:
# Make predictions using the test data
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0      7.34012   7.425
1      7.01407   7.157
2      4.59294   5.197
3      5.33611   5.057
4      5.67283   5.441
5      4.66331   4.948
6      5.43173   6.113
7      5.55337   6.432
8      5.26223   3.512
9      5.12864   4.453
10     5.43856   6.272
11     5.31437   6.262
12     6.65960   5.903
13     5.40441   4.892
14     6.74948   5.908
15     6.52771   6.095
16     5.71471   6.451
17     5.40756   5.488
18     5.17882   6.154
19     4.60953   4.179

## Modeling -- linear regression using all 10 indep variables and 75/25 split to see the R2 score and rmse score

In [18]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
# instantiate model
model = linear_model.LinearRegression()
# fit model
model.fit(X, y)

# fit
model.fit(X_train, y_train)
# predict
y_pred = model.predict(X_test)

from sklearn.preprocessing import StandardScaler
# 3) Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# 4) Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

print("X_train_shape:",X_train.shape)
print("X_TEST_Shape:",X_test.shape)
print("y_train_shape:",y_train.shape)
print("y_test_shape:", y_test.shape)

print("X_train_mean:", np.mean(X_train_scaled[:,0]))
print("X_test_mean:", np.mean(X_test_scaled[:,0]))
print("X_train_std:", np.std(X_train_scaled[:,0]))
print("X_test_std:" , np.std(X_test_scaled[:,0]))

# model evaluation
# ref: https://towardsdatascience.com/multiple-regression-as-a-machine-learning-algorithm-a98a6b9f307b
from sklearn.metrics import r2_score, mean_squared_error
score10 = r2_score(y_test, y_pred)
print("R2score:", score10)
rmse10 = mean_squared_error(y_test, y_pred, squared=False)
print('root mean squared error: ', rmse10)
# ref: https://datagy.io/python-sklearn-linear-regression/

# The slope
# The y-intercept
print("linear coeff:", model.coef_)
print("linear intercept:",model.intercept_)

X_train_shape: (68, 10)
X_TEST_Shape: (23, 10)
y_train_shape: (68,)
y_test_shape: (23,)
X_train_mean: 4.195989960715665e-16
X_test_mean: -0.3231427339702866
X_train_std: 1.0
X_test_std: 0.9622616262978819
R2score: 0.31149914868015516
root mean squared error:  0.7758135476468829
linear coeff: [ 1.39875469e-02 -7.59885763e-04  1.25680578e-02 -2.71958893e-03
 -1.05036031e-02  1.31049635e-05 -5.34933257e-05  1.50991496e-02
  1.13603845e-02 -9.02277156e-03]
linear intercept: 3.0553865340166437

In [19]:
# Make predictions using the test data
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)
results.head()

   Prediction  Actual
0    7.111763   7.425
1    6.885911   7.157
2    4.311838   5.197
3    5.469292   5.057
4    5.104243   5.441

## when comparing the linear regression model with the code of Ordinary Least Squares (OLS), it is noticed that with no split the r2 score is good.

In [20]:
import statsmodels.api as sm
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())# delete the code

                            OLS Regression Results
==============================================================================
Dep. Variable:            life_ladder   R-squared:                       0.747
Model:                            OLS   Adj. R-squared:                  0.715
Method:                 Least Squares   F-statistic:                     23.60
Date:                Fri, 04 Feb 2022   Prob (F-statistic):           5.95e-20
Time:                        09:50:40   Log-Likelihood:                -71.284
No. Observations:                  91   AIC:                             164.6
Df Residuals:                      80   BIC:                             192.2
Df Model:                          10
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
const                                4.2506      2.169      1.960      0.053      -0.065       8.566
democracy_index                      0.0054      0.005      1.127      0.263      -0.004       0.015
consumer_price_index                -0.0011      0.001     -0.855      0.395      -0.004       0.001
gender_ratio_males_per100_female     0.0084      0.006      1.408      0.163      -0.003       0.020
infant_mortality_per1000_births     -0.0118      0.010     -1.159      0.250      -0.032       0.008
life_expectancy                     -0.0051      0.027     -0.191      0.849      -0.059       0.049
per_capita_gdp_dollars            1.501e-05   4.35e-06      3.454      0.001    6.36e-06    2.37e-05
population_density               -9.175e-05    7.2e-05     -1.274      0.206      -0.000    5.16e-05
safe_drinking_water_access_pct       0.0106      0.005      2.048      0.044       0.000       0.021
seats_held_by_women_pct              0.0133      0.007      2.037      0.045       0.000       0.026
unemployment_rate                   -0.0387      0.015     -2.611      0.011      -0.068      -0.009
==============================================================================
Omnibus:                        8.205   Durbin-Watson:                   1.850
Prob(Omnibus):                  0.017   Jarque-Bera (JB):                8.625
Skew:                          -0.532   Prob(JB):                       0.0134
Kurtosis:                       4.068   Cond. No.                     1.14e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.14e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

## when we choose linear regression model for no split

In [21]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
# instantiate model
model = linear_model.LinearRegression()
# fit model
model.fit(X, y)

# fit
model.fit(X, y)
# predict
y_pred = model.predict(X)

from sklearn.preprocessing import StandardScaler
# 3) Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X)

# 4) Scaling the data.
X_train_scaled = X_scaler.transform(X)
X_test_scaled = X_scaler.transform(X)

print("X_shape:", X.shape)
print("y_shape:", y.shape)

print(np.mean(X_train_scaled[:,0]))
print(np.mean(X_test_scaled[:,0]))
print(np.std(X_train_scaled[:,0]))
print(np.std(X_test_scaled[:,0]))

# model evaluation
# ref: https://towardsdatascience.com/multiple-regression-as-a-machine-learning-algorithm-a98a6b9f307b
from sklearn.metrics import r2_score, mean_squared_error
score_no_split_linear = r2_score(y, y_pred)
print("R2score:", score_no_split_linear)
rmse_no_split_linear = mean_squared_error(y, y_pred, squared=False)
print('root mean squared error: ', rmse_no_split_linear)
# ref: https://datagy.io/python-sklearn-linear-regression/

X_shape: (91, 10)
y_shape: (91,)
-6.417333087393762e-16
-6.417333087393762e-16
1.0
1.0
R2score: 0.7468647296388298
root mean squared error:  0.5296185796769222

In [22]:
# Make predictions using the test data
y_pred = model.predict(X)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y
}).reset_index(drop=True)
results.head()

# The slope
# The y-intercept
print("linear_no_split_coeff:" , model.coef_)
print("linear_no_split_intercept:" , model.intercept_)

linear_no_split_coeff: [ 5.42824361e-03 -1.08394259e-03  8.44581303e-03 -1.17775066e-02
 -5.14907271e-03  1.50106173e-05 -9.17489248e-05  1.05906124e-02
  1.32819430e-02 -3.86807627e-02]
linear_no_split_intercept: 4.250566610596507

## now to ensure our linear model is working fine by seeing its accuracy, it was decided to lower RMSE scores to lower down by deleting highest p-values x-variables one by one and rerun the model. 
## ---> so to see the next results, please refer to NaN_Splits file of the linear model...

In [ ]:
# Make predictions using the test data
y_pred = model.predict(X)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y
}).reset_index(drop=True)
results.head()

# The slope
# The y-intercept
print("linear_no_split_coeff:" , model.coef_)
print("linear_no_split_intercept:" , model.intercept_)